<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>

  <connectionStrings>
    <add name="CTS.Data.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=CTSW150501;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Client | Main -->
      <!-- Admin | Main -->
      <add name="RwAdminMain" virtualUrl="^~/adm/(.*)$" destinationUrl="~/adm/main.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
    </rewrites>
  </urlrewritingnet>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="main.html"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".jpg_normal" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_full" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_large" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_small" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_min" mimeType="image/jpeg" />
    </staticContent>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>
