<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"  />
  </configSections>

  <connectionStrings>
    <add name="CTS.Data.Properties.Settings.ConnectionString" connectionString="Data Source=(local);Initial Catalog=CTSW150501;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="CTS.Data.Properties.Settings.ConnectionString_bk" connectionString="Data Source=mssql177.dotvndns.vn;Initial Catalog=CTSW150501;Persist Security Info=True;User ID=benhvienngocphu;Password=Dzgi809#" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Client | Main -->
      <add name="RwIndex" virtualUrl="^~/trang-chu$" destinationUrl="~/items.aspx?lang=vi" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwItems" virtualUrl="^~/dich-vu/danh-sach/(.*)$" destinationUrl="~/items.aspx?lang=vi&amp;name=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwDetail" virtualUrl="^~/dich-vu/chi-tiet/(.*)$" destinationUrl="~/item-detail.aspx?lang=vi&amp;name=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwContact" virtualUrl="^~/lien-he$" destinationUrl="~/contact-us.aspx?lang=vi" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAbout" virtualUrl="^~/gioi-thieu$" destinationUrl="~/about-us.aspx?lang=vi" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwIndexLang" virtualUrl="^~/(.{2})/trang-chu$" destinationUrl="~/items.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwItemsLang" virtualUrl="^~/(.{2})/dich-vu/danh-sach/(.*)$" destinationUrl="~/items.aspx?lang=$1&amp;name=$2" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwDetailLang" virtualUrl="^~/(.{2})/dich-vu/chi-tiet/(.*)$" destinationUrl="~/item-detail.aspx?lang=$1&amp;name=$2" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwContactLang" virtualUrl="^~/(.{2})/lien-he$" destinationUrl="~/contact-us.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <add name="RwAboutLang" virtualUrl="^~/(.{2})/gioi-thieu$" destinationUrl="~/about-us.aspx?lang=$1" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
      <!-- Admin | Main -->
      <add name="RwAdminMain" virtualUrl="^~/adm/(.*)$" destinationUrl="~/adm/main.html" rewriteUrlParameter="ExcludeFromClientQueryString" ignoreCase="true" redirectMode="Permanent"/>
    </rewrites>
  </urlrewritingnet>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="InProc" cookieless="false" timeout="45"></sessionState>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="file-manager.ashx" type="CTS.Web.Hdl.FileManager.ProcessHandler" validate="false" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules />
    <handlers>
      <add name="HdlFileManager" verb="*" path="file-manager.ashx" type="CTS.Web.Hdl.FileManager.ProcessHandler" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="items.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".jpg_normal" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_full" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_large" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_small" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpg_min" mimeType="image/jpeg" />
    </staticContent>
  </system.webServer>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>
